html, body{
	width: 100%;
	height: 100%;
}

body {
	background:fixed;
	background-image: url("images/woodbackground.jpg");
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

div{
	
}

#gameArea {
	width: auto;
	height: auto;
	float: left;
    /*background-image:url('');*/
	margin: 1%;
    margin-bottom: 0px;
    background-color: white;
}

#game {
	border: 1px solid black;
}


#debugHolder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid black;
	width: 380px;
	height: 500px;
	overflow: auto;
	background-color: white;
	opacity: 0.5;
	padding-left:10px;
	padding-top:10px;
	text-align:center;
}

#lvl2Title, #lvl3Title{
	font-weight:500;
	font-size: 20px;
}

#lvl2Data, #lvl3Data{
	margin-left: auto;
	margin-right: auto;
}
