html, body{
	width: 100%;
	height: 100%;
}

body {
	background:fixed;
	background-image: url("images/woodbackground.jpg");
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

div{
	
}

#gameArea {
	width: 900;
	height: 500;
	float: left;
    /*background-image:url('');*/
	margin: 1%;
    margin-bottom: 0px;
    background-color: white;
}

#game {
	border: 1px solid black;
}


#debugHolder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid black;
	width: 380px;
	height: 500px;
	overflow: auto;
	background-color: white;
	opacity: 0.6;
	padding-left:10px;
	padding-top:10px;
	text-align:center;
}

#lvl2Title, #lvl3Title{
	font-weight:500;
	font-size: 20px;
}

#lvl3Holder{
	visibility: hidden;	
}

#lvl2Holder, #lvl3Holder{
	position: absolute;
	top: 40px;
	right: 120px;
	opacity: 1.0;
}

#textbox {
	position:absolute;
	margin-left: 20px;
	margin-right: 20px;
	top: 450px;
	width: 860px;
	border-radius: 10px; 	/* half of button size + padding */
	height: 50px;
	-moz-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#eeeeff));
	background: -moz-linear-gradient(top, #666666, #fefeff);
	/*opacity: 0.5;*/
	z-index: = 2;
	border-style:ridge;
}

#texthere{
	margin-top: 10px;
	text-align:center;
}
