html {
}

body {
overflow:hidden;
}

#gameArea {
	width: auto;
	height: auto;
	float: left;
    /*background-image:url('');*/
	margin: 1%;
    margin-bottom: 0px;
}

#game {
	border: 1px solid black;
}


#debugHolder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid black;
	width: 380px;
	height: 500px;
	overflow: auto;
}